.header.school-leader{
    position: relative;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 100px;
    color: #000 !important;
    background: #FFF;
    overflow: hidden;
    background-image:url('../../../img/school_whiteboard.png');
}


.border{
height: 2px;
width: 60%;
color: rgb(90, 90, 90);
background-color: rgb(90, 90, 90);
}

.dot{
height: 30px;
width: 30px;
background-color: rgb(59, 59, 59);
}

.section{
margin-top: -80px!important;
}

.request-button{
    color: orange!important;
}

.more-info{
    background-image : linear-gradient(rgba(161, 128, 56, 0.884), rgba(168, 125, 44, 0.705)), url('../../../img/reg04.jpg')!important;  
    background-size: cover!important;
    background-position: center!important;
    margin-top: 100px!important;

}

.request-demo{
    background-color: rgb(237, 247, 252);     
}

.additionals{
background-color: rgb(97, 171, 206)!important; 
}

.image{
    height: 200px!important;
    width: 100%!important;
    object-fit: contain!important;
}

.image.aldine{

    height: 150px!important;
    width: 280px!important;
}

.header-image{
    height: 200px!important;
    width: 205px!important;
}

.logos{
    margin-top: 200px;
    margin-bottom: -70px;
}

h1.request-demo-text{
    color: rgb(24, 98, 141)!important;
}

.form-control.text-area{
    height: 100px!important;
}

p.modal-beginning-text{
    font-size: 15px!important;
}

.header-image.leader1{
    width: 300px!important;
}

.header-image.leader2{
    width: 270px!important;
}

.header-image.leader3{
    width: 300px!important;
}


.carousel-indicators {
    bottom: -50px!important;
}

.footer-button{
    background-color: rgba(245,126,32,1);
    color: white!important;
    border-radius: 12px;
    padding: 5px;
}

.masthead h1.landing-title{
    font-size: 4em!important;
}
