/* 
 *
 * React LMS custom ovveride styling.
 *
 * Index
 * - REGISTRATION PAGE CUSTOM STYLE
 * - <add page to customize>
 */

/*-------------------------------------------*\
    REGISTRATION PAGE CUSTOM STYLE
\*-------------------------------------------*/
.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: none;
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.floating-labels .has-error .form-control {
  border-bottom: 1px solid rgb(245, 156, 30) !important;
}

.has-error .bar:after,
.has-error .bar:before {
  background: rgb(245, 156, 30) !important;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: rgb(245, 156, 30);
}

.register.input-icon {
	position: relative;
	float: right;
	bottom: 30px;

	margin-left: unset;
	height: unset;
	display: unset;
	right: unset;
}

.register.form-group.m-t-40 {
	margin-bottom: 0;
}
/*-------------------------------------------*\
    <PAGE_YOU_WANT_TO_OVERRIDE> PAGE CUSTOM STYLE
\*-------------------------------------------*/
.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
/* Custom Styles for reactjs-popup */
@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  padding: 0;
  background: "#fff0";
  border: 0;
}

/* Custom color theme for forms of teacher, learner, and family accounts */
/* FAMILY */
/* Primary Color: (greenish) #03897B */

/* Color of label above input */
.form-family .input-label {
  color: #03897b;
}
/* Underline color of input when focused */
.form-family .form-control,
.form-family .form-control.focus,
.form-family .form-control:focus {
  background-image: linear-gradient(#03897b, #03897b),
    linear-gradient(rgba(120, 130, 140, 0.13), rgba(120, 130, 140, 0.13)) !important;
}

/* TEACHER */
/* Primary Color: (bluish) #1976d2 */

/* Color of label above input */
.form-teacher .input-label {
  color: #1976d2;
}

.login-box-center {
	left: 0 !important;
  right: 0 !important;
  min-width: 350px;
  width: 40% !important;
  position: relative !important;
  min-height: 70vh !important	;
  height: max-content !important;
  top: 5%;
}

.input-icon {
  position: absolute;
  margin-left: 5px;
  height: 25px;
  display: flex;
  right: 0;
  bottom: 3px;
  cursor: pointer;
  z-index: 1000;
}

.input-icon:hover{
  color: #1976d2;
}

.clock-width{
  width: 195.48px;
  height: 39.6px;
}

button:disabled{
  color: rgba(0,0,0,.26) !important;
  cursor: default !important;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,.2),0px 0px 0px 0px rgba(0,0,0,.14),0px 0px 0px 0px rgba(0,0,0,.12) !important;
  -webkit-box-shadow: none !important;
  border: none !important;
  background: rgba(0,0,0,.12) !important;
}

button.btn-link:disabled{
  background: transparent !important;
}

input[type="date"]{
  display: block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}