.form-control:disabled, .form-control[readonly] {
    background-color: #fff !important;
    opacity: 0.5;
}

span.lbl {
    font-weight: 400;
}

div.autocomplete{
    position: absolute;
}

.autocomplete .suggestions {
    width: inherit;
    background: white;
    position: relative;
    z-index: 1000;
    border-radius: 0 0 5px 5px;
    /* border: 1px rgb(179, 175, 175) solid;
    border-top: none; */
    box-shadow: 0 2px 4px -1px #0003,0 4px 5px #00000024,0 1px 10px #0000001f;
    /* margin-top: 3px; */
}

.suggestions p{
    font-size: 15px;
    padding: 4px 8px;
}

.suggestions p:hover{
    background: blanchedalmond;
    cursor: pointer;
}