.user-profile .profile-img img {
  height: 70px;
}

.mini-sidebar .user-profile .profile-img img {
  height: 50px;
}

.sidebar-nav ul li a {
  color: #607d8b;
  padding: 8px 35px 8px 15px;
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.sidebar-nav ul li a .tooltipright {
  visibility: hidden;
  background-color: #fff;
  color: #1976d2;
  text-align: center;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);

  opacity: 0;
  transition: opacity 0.5s;
}

/* .sidebar-nav ul li a:hover .tooltipright {
  visibility: visible;
  opacity: 1;
}
 */

.sidebar-nav .has-arrow:after {
  margin-right: 20px;
}

@media only screen and (max-width: 1168px) {
  .dashboard-label {
    display: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .sidebar-nav ul li a .tooltipright {
    visibility: hidden;
    background-color: #fff;
    color: #1976d2;
    text-align: center;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 65px;
    transform: translateY(-50%);

    opacity: 0;
    transition: opacity 0.5s;
  }

  .sidebar-nav ul li a:hover .tooltipright {
    visibility: visible;
    opacity: 1;
  }

  .label-container {
    width: 60px !important;
    background-color: none !important;
    transition: 0.5s;
  }

  .collapse {
    visibility: hidden;
  }

  .dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
    width: 60px;
  }

  .sidebar-nav ul li {
    list-style: none;
    width: 60px;
  }
}
